.wrapper {
    width: 920px;
    height: 1200px;
    margin: 0 auto;
}

h1 {
    color: #0282F9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
}

.item {
    position: relative;
    float: left;
}

.ml {
    margin-left: 10px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}